.my-container {
    max-width: 1060px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.img-top-center {
    background: url("../img/fon.webp") center no-repeat;
    background-size: cover; /*сохраняем пропорции*/
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.nomoove {
    position: sticky;
    top: 0;
}
.text-photo-center {
/*    padding-top: 15px;
    padding-bottom: 15px;*/
/*    padding-left: 30px;
    padding-right: 30px;*/
    margin-top: 110px;
    margin-bottom: 150px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: white;
/*    color: blue;*/
}
.link-img-bottom, .link-img-bottom:hover, .link-img-bottom:visited, .link-img-bottom:focus, .link-img-bottom:active {
    text-decoration: none;
    color: blue;
}
.qoute {
    background-color: rgb(240, 240, 240);    
}
.block-social {
    background-color: blue; 
    color: white;
}
.link-social, .link-social:visited, .link-social:focus, .link-social:active, .link-social:hover {
    text-decoration: none;
    color: white;
}